<html>
    <head>
        <title>
            Letter
        </title>
    
    </head>
    <body>
        <p>To,</p>
        <p>{{Address}}                                                                          {{ClientContact}}</p>
        <p>Subject: {{Subject}}</p>
        <p>Sir,</p>
        <p>The Soil Investigation party</p>
        <p>{{Staff}}</p>
        <p>will be reaching at your site at {{Site_Venue}} at {{Site_Time}} on {{Site_Date}}. You are requested to depute your repersantative to be available at the mentioned place, to show the site to testing party.</p>
        <p></p>
        <p>Dean Testing & Consultancy </p>

   </body>
</html>
