<html>
    <head>
        <title>
            Letter
        </title>
    
    </head>
    <body>
        <p>To,</p>
        <p>{{address}}                                                                          {{clientContact}}</p>
        <p>Subject: {{subject}}</pc
        <p>Sir,</p>
        <p>The Soil Investigation party</p>
        <p>{{staff}}</p>
        <p>will be reaching at your site at {{site_venue}} at on {{site_date}}. You are requested to depute your repersantative to be available at the mentioned place, to show the sits to testing party.</p>
        <p></p>
        <p>Dean Testing & Consultancy </p>

   </body>
</html>
